/* reset */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset, img {
    border: 0
}

ul, li {
    list-style: none
}

input, textarea, select {
    border: none;
    -webkit-appearance: none;
}

button, input[type="submit"] {
    border: none;
    background: none;
    appearance: none;
    outline: none
}

a {
    -webkit-touch-callout: none;
    text-decoration: none
}

/* common */

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    font-family: "Microsoft Yahei", "Helvetica Neue";
}

.page-wrap {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    background-color: #ffffff;
    background-size: 100% 100% !important;
}

.page_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.bg {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* function */

.hide {
    display: none !important;
}

.noselect {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    content: ".";
}

/* music */

.u-btn-play {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 54px;
    height: 54px;
    display: block;
    background: url("../images/play.png") top center no-repeat;
    background-size: cover;
    z-index: 50;
}

.u-btn-play.zanting {
    background: url("../images/pause.png") top center no-repeat;
    background-size: cover;
}

/* load */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
}

.loading-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 26px;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}

.loading-text span:nth-child(1) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
    animation: blur-text 1.5s 0s infinite linear alternate;
}

.loading-text span:nth-child(2) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
    animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.loading-text span:nth-child(3) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
    animation: blur-text 1.5s 0.4s infinite linear alternate;
}

.loading-text span:nth-child(4) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
    animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.loading-text span:nth-child(5) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
    animation: blur-text 1.5s 0.8s infinite linear alternate;
}

.loading-text span:nth-child(6) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
    animation: blur-text 1.5s 1s infinite linear alternate;
}

.loading-text span:nth-child(7) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
    animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@-webkit-keyframes blur-text {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur-text {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}

.arr {  
    position: absolute; 
    left: 50%;
    z-index: 99;
}

.arr1{
    position: absolute;
    width: 48px;
    height: 36px;
    bottom: 80px;
    left: 50%;
    margin-left: -24px;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.none, .hide,.page_inner.none,a.none {
    display: none ;
}
.page.current .page_inner {
    display: block ;
}
/* page1 */
.page1 { background: url(../images/bg1.jpg) no-repeat;}
.p1_box{ width: 100%; height: 850px; position: absolute; left: 0; top: 0;}
.p1_2{ position: absolute; left: 0%; top: 20px; z-index: 1;}
.p1_1{ position: absolute; left: 10%; top: 40%; z-index: 2;}
.btn_detail { display: block; width: 164px; height: 77px; position: absolute; top: 66%; left: 44%; background: url(../images/p1_3.png) no-repeat; }
.btn_join { display: block; width: 338px; height: 323px; position: absolute; top: 63%; left: 28%; background: url(../images/p1_4.png) no-repeat; }

/* 规则 */
.tk.tk_rule { padding-bottom: 0;}
.alert_rule{ width:100%; height: 100%;}
.btn_now{ display: block; width: 335px; height: 207px; position: absolute; top: 77%; left: 24%; background: url(../images/btn_now.png) no-repeat;}
.rules{ position:absolute; left: 7%; top: 7%;}
/* 验证会员 */
.info_box{ display: block; width: 599px; height: 809px; position: absolute; top: 10%; left: 4%; background: url(../images/tk_info.png) no-repeat;}
.info_lst{ width: 480px; height: 280px; position: absolute;; left: 9%; top: 14%;}
.info_lst li{ min-height: 76px;}
.info_lst li:nth-of-type(1){ margin-bottom: 10px;}
.info_lst .col1{ font-size: 32px; color: #585858; width: 130px; text-align: left; line-height: 65px; height: 65px;}
.info_lst .ipt{ display: block; width: 350px; height:65px; border: 1px solid #fca431; background-color: #ffffff; text-indent: 20px; font-size: 32px; color: #000000;}
.info_lst div{ float: left;;}
.btn_yz{ display: block; font-size: 32px; color: #ffffff; background-color: #fca431; width: 224px; height: 50px; line-height: 50px;}
.btn_vip{ display: block; width: 470px; height: 150px; position: absolute; top:77%; left: 13%; z-index: 10;}


#box {
    background:#ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
}
#inner{ background:#ffffff; padding-bottom: 0px; position: relative; }
#list { position: relative; }

.btn_exc{ display: block; width: 119px; height: 50px; background: url(../images/btn_exc.png) no-repeat; position: relative; right: 22px; top: 16px;}
.exchange_lst{ position: absolute; width: 290px; right: 0%; top: 1%;}
.exchange_lst>li:nth-of-type(1){ font-size: 30px; color: #ffffff; font-weight: bold; margin-bottom: 2px;  margin-top: 4px;}
.exchange_lst>li:nth-of-type(2){ font-size: 24px; color: #ffffff; margin-bottom: 8px; padding-bottom: 10px; border-bottom: 1px solid #ffffff;}
.exchange_lst>li:nth-of-type(3){ }

/*p2*/
.top_box { width: 640px; background: url(../images/bg2.jpg) no-repeat; display: block; position: relative; left: 0; top: 0;}
.p2_1{ position: absolute; left: 5%; top: 3%;}
.btn_back { display: block; width: 120px; height: 44px; position: absolute; top:10px; left: 20px; z-index: 10; background: url(../images/btn_back.png) no-repeat;}
.btn_rule2 { display: block; width: 120px; height: 44px; position: absolute; top:10px; right: 20px; z-index: 10; background: url(../images/btn_rule2.png) no-repeat;}
.user_lst{ width: 100%; position: relative; left: 0; top: 20px;}
.user_lst>li{ text-align: center; width: 100%;}
.user_lst>li:nth-of-type(1){ }
.user_lst>li:nth-of-type(2){ font-size: 32px; color: #777777; margin-bottom: 6px;}
.user_lst>li:nth-of-type(3){ font-size: 26px; color: #777777;}
.head_box{ display: inline-block; width: 145px; height: 145px; border-radius: 50%; border: 4px solid #ffffff; overflow: hidden;}
.userImg{ width: 100%; height: auto;}
.user_lst .userScore{ color: #e60012; font-weight: bold;}
.prize_area{ width: 100%; margin: 0 auto; box-sizing: border-box; padding: 20px 60px 100px 60px; background: #ffffff; text-align: center;}
.fuli_lst{ width: 100%; margin: 20px auto 0;}
.fuli_lst>li{ width: 510px; height: 252px; border: 2px solid #bfbfbf; background:#ffffff; margin: 0 auto; position: relative; margin-bottom: 18px;}
.fuli_lst .exchange{ position: absolute; right: 0; top: 0; z-index: 10;}
.exchangeTxt{ width: 494px; position: absolute; left: 10px; bottom: 10px;}
.fuli_name{ font-size: 26px; color: #e60012;}
.fuli_code{ font-size: 26px; color: #616161;}
.noprize { margin: 80px auto;}
.liquan{ width: 100%; height: auto; position: absolute; left: 0; top: 0;}
.swiperimg{
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*p3*/
.page3 {background:#ffffff url(../images/bg3.jpg) no-repeat;}
.p3_1{ position: absolute; right: 0%; top: 0%;}







/* 弹框类 */
.tk { width: 100%; height: 100%; padding-bottom: 20px; background: rgba(0, 0, 0, 0.8); position: absolute; top: 0; left: 0; z-index: 999; color: #fff; text-align: center; }
    .close { display: inline-block; width: 41px; height: 41px; position: absolute; top: 15%; right: 1%; z-index: 1000; background: url(../images/close.png) no-repeat;  }
   .tkIn { width: 640px;  margin-top: 80px; background-repeat: no-repeat; background-position: center; }
 .tk-img .box{ width: 600px; height: 400px; position: absolute; left: 3%; top:9%; border:2px solid #a45900; position: relative; overflow: hidden;}  
  .realImg{ max-width: 640px; max-height:600px;display: inline-block; position: absolute; left: 44%; top: 40%;}
.tk-load {}
.tk-load .tkIn { padding-top: 260px; }
    .tlWrd { padding-top: 20px; font-size: 24px; color: #ffffff; }

.btn_close{ position: absolute; display: block; width: 55px; height: 55px; background: url(../images/btn_close.png) no-repeat; z-index: 30;}
.btn_sure{ position: absolute; display: block; width: 173px; height: 60px; background: url(../images/btn_sure.png) no-repeat; z-index: 30;}
.btn_chk{ position: absolute; display: block; width: 173px; height: 62px; background: url(../images/btn_chk.png) no-repeat; z-index: 30;}
.btn_cancel{ position: absolute; display: block; width: 173px; height: 62px; background: url(../images/btn_cancel.png) no-repeat; z-index: 30;}
.tk_short .btn_sure{ left: 37%; top: 42%;}
.tk_rule .tkIn{ margin-top: 40px;}
.tk_rule .btn_close{ right: 60px; top:66px;}
.tk_short .btn_close{ right: 60px; top:106px;}
.tk_sure .btn_close{ right: 60px; top:120px;}
.tk_sure .btn_sure{ left: 53%; top: 42%;}
.tk_sure .btn_cancel{ left: 21%; top: 42%;}
.tk_suc .btn_close{ right: 60px; top:120px;}
.tk_suc .btn_sure{ left: 53%; top: 42%;}
.tk_suc .btn_chk{ left: 21%; top: 42%;}

/* 视频 */
.tk-video{ background: rgba(0, 0, 0, 1); }
    .tkvMsk{ width: 100%; height: 100%; }
    .videos{ position: absolute; width: 100%; height: 400px; z-index: 100; top: 50%; left: 0; margin-top: -250px; }
/* 留资 */

input[placeholder], [placeholder], *[placeholder] { 
color:#d0a160 !important; 
} 
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #d0a160; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #d0a160; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #d0a160; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #d0a160; 
} 
/* 横竖屏 和 动画样式 */
#orientLayer {
    display: none; }

@media screen and (min-aspect-ratio: 12 / 7) {
    #orientLayer {
        display: block; } }
.mod-orient-layer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9997; }

.mod-orient-layer__content {
    position: absolute;
    width: 100%;
    top: 45%;
    margin-top: -75px;
    text-align: center; }

.mod-orient-layer__icon-orient {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIYAAADaCAMAAABU68ovAAAAXVBMVEUAAAD29vb////x8fH////////x8fH5+fn29vby8vL////5+fn39/f6+vr////x8fH////////+/v7////09PT////x8fH39/f////////////////////x8fH///+WLTLGAAAAHXRSTlMAIpML+gb4ZhHWn1c2gvHBvq1uKJcC6k8b187lQ9yhhboAAAQYSURBVHja7d3blpowFIDhTUIAOchZDkre/zE7ycySrbUUpsRN2/1fzO18KzEqxEVgTiZNfgmmtxRc8iaR8HNe8x4BtjQePKayYCIoyBSgvNNE1AkNSHqZyLqk97EgUCCHBzZ5mkg7ScvIJuIyOyXBRFxgpqWZyGsAZLB1KjsJi8nutHU4JCRbFRH8tmirI9k8Jx2sqNs8K/m0LQkrktO2crgcgXGB4AiTEsB0hJfo9MGgX7CGcYiYwQxmMOOvZwRhBG8tCoMXjBDeXvWCEcHbi14wgCBmMIMZzGAGM5jxETNwzMAxA8cMHDNwzMAxA8cMHDNwzMAxA8cMHDNwzMAxY6E2rUQxnH2tz9cirlJFwFBJedaPnUv0M7++egPDE8iAJcIDmxwH5wwv9vUviw2kLbVO3TJU5uul/EyB0FoLp4x60PdGUd3qPurrWyjGGTc05u+1dcgI7/+tCCPARWGhH7o5Y7RCf+bH9ctXLp6v2BVDxfqz0oPXeSVaNtINo/1SXDv4dck8IIkbhtC2ol+iouEonTBCbYvVMnXOjxww6s/RFrBUpXHh/gw1rHj5d/qhYn9Gpk2FWh6xRBRX5Oj3Znh2Sq49/L6+y8pB26q9GbE2dbA2mVbx6I+7MfBglLCttm73ZQi7AD3iL4HqjFYJHSPRppqaUaJ3ATpGa+ckpGak2hRRMyqjGMkvl+xyFeSMwjAqcsZgGDdyhl0oNTnDN4yenJGZFGxNChP5/Y3efh6SM2rDOJMzboYxkDMqwyjIGcIw6F+io2FU1IxIm1JqRmgXSkvNKNCXeTpGrU0JNSO2c6LIGPgCS8AuDHz9ta0SXWDtxoDRH+MqlbC2Dt2G2JFRadtQZt2qq/orGowdGb2euxYiqWEpVWhTBnszoNAPdStuQwxqf0aocdWKW4Z+DfszIh8pxJqbuCE4YAC+4bm0evtipjpgJHeFnyyt1Ku2xa0bhjxr27p75rECNwyI9ZwvXkHq+7aTaMEV44YYy/spfgjgjNHaWW+GeUhGEX7tLlVinIFDDSgnOwhi1V6bU0b6tVS9eAERe863g4dRrtiHdc6o+nn5vtyVVgR79Cqt4uL6gfHPQyGqtP2vf7HADGbcYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JjhtOM+J/AgT008yDMkN/dPP9hzS8zAMQN3OEYeekp5YU7KOKXwVXqiY+QS7smcinGKABWdiBgpPJTSMHJ4KidhhPBUSMLw4CmPhKHgKUXCkHsygum71ftNSgCX6bsl8FQyfbcL5EdYsDk0R3j7aiA5wpt5AjKg/2gLJEBD/0Hf2OOf/vRrj6z/7GtP4B3nMKyjHA12kIPSjnJs3FEO0TvKkYJHOWCR+rjJH0Vn6fI5PjNbAAAAAElFTkSuQmCC");
    display: inline-block;
    width: 67px;
    height: 109px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -webkit-animation: rotation infinite 1.5s ease-in-out;
    animation: rotation infinite 1.5s ease-in-out;
    -webkit-background-size: 67px;
    background-size: 67px; }

.mod-orient-layer__desc {
    margin-top: 20px;
    font-size: 15px;
    color: #fff; }

.qr-box {
    display: none; }


/*css3 animate*/
.arrow {
    -webkit-animation: arrow 1.2s both infinite;
    animation: arrow 1.2s both infinite
}

/* arrow */
@-webkit-keyframes arrow {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes arrow {
    from {
        opacity: 1;
        transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 0;
        transform: translate3d(0, 0, 0)
    }
}

